{% extends 'base.html.twig' %}

{% block title %}List of viable cities for Weatherella{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>List of viable cities for Weatherella</h1>
    <p> If there is a city with russian or polish letters please use the value in brackets sorry for the inconvience </p>
    <ul>
        {% for city in cities %}
            <li><a href = '/api/products/recommended/{{city['name']}}'>{{city['name']}}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
