{% extends 'base.html.twig' %}

{% block title %}Weatherella{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>This application returns product recommandations based on weather in a select city</h1>
    <ul>
    <li>The source of the forecast data is LHMT</li>
    <li>To retrieve data using the api use /api/products/recommended/{city}</li>
    <li>An example: <a href="api/products/recommended/vilnius">https://weatherella.herokuapp.com/api/products/recommended/vilnius</a>  </li>
    <li>List of available  <a href="api/city/list"> cities </a>  </li>  
    </ul>
</div>
{% endblock %}
