{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found, please try again</h1>

    <p>
       To retrieve data using the api use https://weatherella.herokuapp.com/api/products/recommended/{city}
    </p>
{% endblock %}